<?xml version="1.0" encoding="ISO-8859-1"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
  <display-name>Employee</display-name>
  <context-param>
    <param-name>contextConfigLocation</param-name>
    <param-value>/WEB-INF/spring-servlet.xml</param-value>
  </context-param>
  <listener>
    <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
  </listener>
  <servlet>
    <servlet-name>spring</servlet-name>
    <servlet-class>
			org.springframework.web.servlet.DispatcherServlet
		</servlet-class>
    <load-on-startup>1</load-on-startup>
    <multipart-config>
      <max-file-size>20848820</max-file-size>
      <max-request-size>418018841</max-request-size>
      <file-size-threshold>1048576</file-size-threshold>
    </multipart-config>
  </servlet>
  <servlet>
    <description>
		</description>
    <display-name>TransactionDownloadDocuments</display-name>
    <servlet-name>TransactionDownloadDocuments</servlet-name>
    <servlet-class>com.hrms.controller.TransactionDownloadDocuments</servlet-class>
  </servlet>
  <servlet>
    <description>
		</description>
    <display-name>downloadservlet</display-name>
    <servlet-name>downloadservlet</servlet-name>
    <servlet-class>com.hrms.controller.downloadservlet</servlet-class>
  </servlet>
  <servlet>
    <description>
		</description>
    <display-name>EmailSendingServlet</display-name>
    <servlet-name>EmailSendingServlet</servlet-name>
    <servlet-class>com.hrms.commons.EmailSendingServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>spring</servlet-name>
    <url-pattern>/</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>TransactionDownloadDocuments</servlet-name>
    <url-pattern>/TransactionDownloadDocuments</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>downloadservlet</servlet-name>
    <url-pattern>/downloadservlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>EmailSendingServlet</servlet-name>
    <url-pattern>/EmailSendingServlet</url-pattern>
  </servlet-mapping>
  <session-config>
    <session-timeout>30</session-timeout>
  </session-config>
  <context-param>
    <param-name>host</param-name>
    <param-value>smtp.gmail.com</param-value>
  </context-param>
  <context-param>
    <param-name>port</param-name>
    <param-value>587</param-value>
  </context-param>
  <context-param>
    <param-name>user</param-name>
    <param-value>ramdasanil009@gmail.com</param-value>
  </context-param>
  <context-param>
    <param-name>pass</param-name>
    <param-value>8978424929</param-value>
  </context-param>
</web-app>